:root {
  --main-branding-color: rgb(155, 190, 200, 0.5);
}

body {
  background: #f0ece5;
  font-family: "Roboto", sans-serif;
}
footer {
  margin: 30px auto;
  text-align: center;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  background-color: var(--main-branding-color);
  margin-bottom: 20px;
  border-radius: 40px;
  padding: 10px 0;
}
h1 {
  color: #272044;
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
}
form {
  display: flex;
  padding: 10px;
}
.instructions {
  width: 80%;
  padding: 15px;
  border: 2px solid var(--main-branding-color);
  border-radius: 10px;
  font-size: 16px;
  line-height: 20px;
}
.submit-button {
  margin-left: 10px;
  padding: 20px 40px;
  background-color: var(--main-branding-color);
  color: #272044;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  line-height: 20px;
}
.suggestion {
  padding: 0 0 15px 15px;
  font-size: 14px;
  color: #272044;
  opacity: 0.5;
}
